<h1 id="home_text">
    <a href="/" id="home_text_link">&nbsp;</a>
</h1>

<div class="nav">
    <ul>
        <li><a href="/index.html#register">Register</a></li>
    </ul>
    <ul>
        <li><a class="{{ page.on_guide }}" href="/guide.html">Guide</a></li>
    </ul>
    <ul>
        <li><a class="{{ page.on_pricing }}" href="/pricing.html">Pricing</a></li>
    </ul>
    <ul>
        <li><a class="{{ page.on_security_privacy }}" href="/security-privacy.html">Security/Privacy</a></li>
    </ul>
    <ul>
        <li><a class="{{ page.on_about_me_contact }}" href="/about-me-contact.html">About</a></li>
    </ul>
    <ul>
        <li><a id="supportlink" href="https://snapcoin.uservoice.com">Support/Feedback</a></li>
    </ul>

</div>
