<h1 id="home_text">
    <a href="{{ site.baseurl }}/" id="home_text_link">&nbsp;</a>
</h1>

<div class="nav">
    <ul>
        <li><a href="{{ site.baseurl }}/index.html#register">Register</a></li>
    </ul>
    <ul>
        <li><a class="{{ page.on_guide }}" href="{{ site.baseurl }}/guide.html">Guide</a></li>
    </ul>
    <ul>
        <li><a class="{{ page.on_pricing }}" href="{{ site.baseurl }}/pricing.html">Pricing</a></li>
    </ul>
    <ul>
        <li><a class="{{ page.on_security_privacy }}" href="{{ site.baseurl }}//security-privacy.html">Security/Privacy</a></li>
    </ul>
    <ul>
        <li><a class="{{ page.on_about_me_contact }}" href="{{ site.baseurl }}//about-me-contact.html">About</a></li>
    </ul>
    <ul>
        <li><a class="{{ page.on_support_link }}" href="{{ site.baseurl }}//support-feedback.html">Support/Feedback</a></li>
    </ul>
</div>
