#maincard {
  display: block;
  h1 {
    text-align: center;
    position: relative;
    top: 120px;
    //color: white;
    font-size: 24pt;
  }
  height: 443px;
  background-color: #eee;
  position: relative;
  top: -111px;
  margin: 0 auto;
  z-index: -1;
}

.phoneinfo {
  position: relative;
  left: 7px;
}

.homepagecontent {
  position: relative;
  margin-top: -332px;
}

.phones {
  display: inline-block;
  width: 170px;
  vertical-align: top;
  margin-left: 55px;
}

.phones img {
  border-radius: 14px;
  max-width: 162px;
}

.phones span {
  margin-left: 10px;
  display: inline-block;
}

.phones i {
  margin-right: 6px;
  margin-top: 6px;
}

.moreinfo {
  text-align: center;
}

h2.register {
  text-align: center;
}

.signupform {
  margin: 0 auto;
  width: 200px;
  text-align: center;
  padding: 10px 0;
  border: 1px solid $brand-color;
  border-radius: 14px;
}

.signupform input {
  height: 24px;
}

#home_text {
  font-size: 18pt;
  color: white;
  display: inline-block;
}

#home_text_link {
  background: url("/resources/logo.png") no-repeat;
  width: 82px;
  height: 53px;
  display: inline-block;
  background-size: cover;
  color: white;
  font-weight: 600;
  overflow: initial;
  position: relative;
  bottom: 23px;
  border-bottom: 1px rgba(0, 0, 0, 0) dashed;

  color: white;
  font-weight: 600;
  padding: 5px;
  &:visited {
    color: white;
  }
}

.homepage a {
  color: rgba(0, 0, 0, 0.90);
  text-decoration: none;

  &:visited {
    color: rgba(0, 0, 0, 0.50);
  }

  &:hover {
    text-decoration: none;
    border-bottom: 1px rgba(0, 0, 0, 0.50) dashed;
  }
}

.feetable {
  td {
    font-size: 36pt;
  }
}

.warning {
  border: 1px solid black;
  border-left-width: 6px;
  border-radius: 5px;
  padding: 5px;
  max-width: 500px;
  background-color: rgb(223, 223, 223);
}
